<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1">
  <tr>
    <td><a href="/view_profile">VIEW PROFILE</a></td>
  </tr>
  <tr>
    <td><a href="/add_criminal">ADD CRIMINAL</a></td>
  </tr>
  <tr>
    <td><a href="/view_criminal">VIEW CRIMINAL</a></td>
  </tr>
  <tr>
    <td><a href="/add_missing_person">ADD MISSING PERSON DETAILS</a></td>
  </tr>
  <tr>
    <td><a href="/view_police_missing_person">VIEW MISSING PERSON DETAILS</a></td>
  </tr>
  <tr>
    <td><a href="/add_most_wanted">ADD MOST WANTED CRIMINALS</a></td>
  </tr>
  <tr>
    <td><a href="/view_police_most_wanted">VIEW MOST WANTED PERSON</a></td>
  </tr>

    <tr>
    <td><a href="/view_criminal_alert1">VIEW CRIMINAL ALERT</a></td>
  </tr>
     <tr>
    <td><a href="/view_missing_alert">VIEW MISSING ALERT</a></td>
  </tr>

 <tr>
 <td><a href="/add_record">ADD CRIME RECORDS</a></td>
  </tr>
  <tr>
    <td><a href="/view_record">VIEW CRIME RECORDS</a></td>
  </tr>
  <tr>
    <td><a href="/add_control">ADD CONTROL ROOM</a></td>
  </tr>
  <tr>
    <td><a href="/view_control">VIEW CONTROL ROOM</a></td>
  </tr>
</table>
</form>
</body>
</html>
