{% extends "POLICE/police_home_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style type="text/css">
        th{
            color: white;
        }
    </style>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
<table class="table table-bordered" style="background-color: black">
                        <h1 class="display-5 mb-5">UPDATE MISSING PERSON</h1>

  <tr>
    <th>Name</th>
    <td>
      <input type="text" name="textfield" id="textfield"  class="form-control" value="{{ data.name }}"/></td>
  </tr>
  <tr>
    <th>Age</th>
    <td>
      <input type="text" name="textfield2" id="textfield2" class="form-control" value="{{ data.age }}"/></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><p>
      <label>
        <input type="radio" name="RadioGroup1" value="MALE" {% if data.gender=='MALE' %} checked {% endif %} />
        MALE
      </label>
      <br />
      <label>
        <input type="radio" name="RadioGroup1" value="FEMALE" {% if data.gender=='FEMALE' %}checked{% endif %} />
        FEMALE
      </label>
      <br />
    </p></td>
  </tr>
  <tr>
    <th>Place</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" value="{{ data.place }}" /></td>
  </tr>
  <tr>
    <th>Missing Date</th>
    <td>
      <input type="text" name="textfield4" id="textfield4" class="form-control" value="{{ data.missing_date }}" /></td>
  </tr>
  <tr>
    <th>Relative contact</th>
    <td>
      <input type="text" name="textfield5" id="textfield5" class="form-control" value="{{ data.contact_number }}" pattern="[9876][0-9]{9}"/></td>
  </tr>
  <tr>
    <th>Photo</th>
    <td>
        <img src="{{ data.image }}"height="100" width="100"/>
      <input type="file" name="fileField" id="fileField" class="form-control" /></td>
  </tr>
  <tr>
    <th>Height</th>
    <td>
      <input type="text" name="textfield6" id="textfield6 " class="form-control" value="{{ data.height }}" /></td>
  </tr>
  <tr>
    <th>Weight</th>
    <td>
      <input type="text" name="textfield7" id="textfield7" class="form-control" value="{{ data.weight }}"/></td>
  </tr>
{#  <tr>#}
{#    <td>Police</td>#}
{#    <td><label for="textfield8"></label>#}
{#      <label for="select"></label>#}
{#      <select name="select" id="select">#}
{#      </select></td>#}
{#  </tr>#}
  <tr>
    <th>Known language</th>
    <td>
      <input type="text" name="textfield8" id="textfield8" class="form-control" value="{{ data.known_language }}"/></td>
  </tr>
  <tr>
    <th>Any Disability</th>
    <td>
      <input type="text" name="textfield9" id="textfield9" class="form-control" value="{{ data.disability }}"/></td>
  </tr>
  <tr>
    <td colspan="2"align="center"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}