{% extends "POLICE/police_home_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style type="text/css">
        th,td{
            color: white;
        }
    </style>
</head>

<body>
<form action="" method="get">
<table class="table table-bordered" style="background-color: black">
                    <h1 class="display-5 mb-5">VIEW MISSING PERSON ALERT</h1>


  <tr>
    <th>#</th>
    <th>SENDER INFO</th>
    <th>MISSING PERSON INFO</th>
    <th>DATE</th>
  <td>TYPE</td>
     <td></td>
{#     <td>LONGITUDE</td>  #}
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>{{ i.un }}<br>{{ i.ph }}</td>
    <td>&nbsp;{{ i.name }}<br/><img src="{{ i.image }}" height="100" width="100" > </td>
    <td>{{ i.date  }}</td>
    <td>{{ i.type  }}</td>
      <td><a href="https://www.google.com/maps/?q={{ i['latitude'] }},{{ i['longitude'] }}" class="btn btn-outline-success">TRACK</a> </td>

  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}