<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
<table width="200" border="1">
  <tr>
    <td><a href="/police">Add police station</a></td>
  </tr>
  <tr>
    <td><a href="/VIEW_POLICE">View police station</a></td>
  </tr>
  <tr>
    <td><a href="/add_category">Add crime category</a></td>
  </tr>
  <tr>
    <td><a href="/view_category">View crime category</a></td>
  </tr>
  <tr>
    <td><a href="/view_missing_person">View missing person details</a></td>
  </tr>
  <tr>
    <td><a href="/VIEW_MOST_WANTED">View most wanted criminal</a></td>
  </tr>
  <tr>
    <td><a href="/view_complaint">View complaint and send reply</a></td>
  </tr>
  <tr>
    <td><a href="/view_feedback">View feedback</a></td>
  </tr>
  <tr>
    <td><a href="/view_criminal_alert">View criminal alert</a></td>
  </tr>
  <tr>
    <td><a href="/add_emergency_contact">Add emergency contact details</a></td>
  </tr>
     <tr>
    <td><a href="/add_cctv">add cctv</a></td>
  </tr>
  <tr>
    <td><a href="/view_cctv">view cctv</a></td>
  </tr>
</table>
</form>
</body>
</html>
