{% extends "ADMIN/admin_home_index.html" %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style type="text/css">
        th{
            color: white;
        }
    </style>
</head>

<body>
<form action="" method="post">
<table class="table table-bordered" style="background-color: black">
                        <h1 class="display-5 mb-5">UPDATE CRIME CATEGORY</h1>

  <tr>
    <th>CRIME TYPE</th>
    <td>
      <select name="select" id="select" class="form-control">
          <option value="murder"{% if data.crime_type=='murder' %}selected{% endif %}>Murder</option>
          <option value="robbery"{% if data.crime_type=='robbery' %}selected{% endif %}>Robbery</option>
          <option value="kidnapping"{% if data.crime_type=='kidnapping' %}selected{% endif %}>Kidnapping</option>
          <option value="assault"{% if data.crime_type=='assault' %}selected{% endif %}>Assault</option>
          <option value="blackmail"{% if data.crimetype=='blackmail' %}selected{% endif %}>Blackmail</option>
      </select></td>
  </tr>
  <tr>
    <th>DESCRIPTION</th>
    <td>
      <textarea name="textarea" id="textarea" class="form-control" cols="45" rows="5" >{{ data.description }}</textarea></td>
  </tr>
  <tr>
    <td colspan="2"align="center"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-success" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}